In [2]:
num1=10
num2=30
add=num1+num2
print("add")
print(add)

add
40

In [5]:
num1=40
num2=15
sub=num1-num2
print("sub")
print(sub)

sub
25

In [6]:
num1=40
num2=15
mult=num1*num2
print("mult")
print(mult)

mult
600