In [ ]:
print("HOPE AI")

HOPE AI

In [ ]:
num=(input("Enter your Institute name? :"))

Enter your Institute name? :HOPE AI

In [12]:
N1=input("Enter your name :")
if N1=="Raj":
    print("Your name is :",N1)
N2=int(input("Enter your age :"))
if N2==15:
    print("Your age is :",N2)
N3=input("Enter your school name :")
if N3=="Guru school":
    print("your school name is :",N3)
N4=input("Enter your degree :")
if N4=="B.E CSE":
    print("Your degree is :",N4)

Enter your name :Guru
Enter your age :15
Your age is : 15
Enter your school name :Guru School
Enter your degree :B.E CSE
Your degree is : B.E CSE

In [20]:
a=input("a= ")
b=input("b= ")
add=int(a) + int(b)
print("Addition :",add)

a= 43
b= 34
Addition : 77

In [21]:
a=input("a= ")
b=input("b= ")
sub=int(a) - int(b)
print("Sub= ",sub)

a= 43
b= 34
Sub=  9

In [24]:
a=input("a= ")
b=input("b= ")
mul=int(a) * int(b)
print("Mul= ",mul)

a= 63
b= 97
Mul=  6111

In [25]:
a=input("a= ")
b=input("b= ")
div=float(a) / float(b)
print("Div =",div)

a= 76
b= 31
Div = 2.4516129032258065

In [26]:
a=input("a= ")
b=input("b= ")
fd=int(a) // int(b)
print("Floor Div =",fd)

a= 76
b= 31
Floor Div = 2

In [27]:
a=input("a= ")
b=input("b= ")
mod=int(a) % int(b)
print("Modulo =",mod)

a= 76
b= 31
Modulo = 14

In [28]:
a=input("a= ")
b=input("b= ")
powe=int(a) ** int(b)
print("Power =",powe)

a= 4
b= 4
Power = 256